@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-primary: #141922;
    --color-primary-dark: #080B12;
    --color-secondary: black;
    --color-secondary-light: #6D6D6D;
    --color-tertiary: #282828; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

.container-app {
    height: 100vh;
    display: flex;
}

.display-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.flex-grow-over-auto {
    flex-grow: 1;
    overflow: auto;
}

.flex-shrink {
    flex-shrink: 0;
}

.flex-column {
    flex-direction: column;
}

.flex-stretch {
    align-items: stretch;
}

.justify-center {
    justify-content: center;
}

.flex-align {
    align-items: center;
}

.gap {
    gap: 1rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.sidebar {
    width: 180px;
    padding: 0.5rem 1rem;
    color: var(--color-secondary-light);
    font-size: 0.6rem;
    line-height: 1.3rem;
}

.top-bar {
    padding: 1rem 0;
    height: 75px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.player-container {
    padding: 0.8rem 0rem;
    justify-content: space-between;
    height: 80px;
}

.player-album, .player-volume {
    max-width: 200px;
    width: 25%;
}

.player-time {
    width: 50%;
}

.player-album-cover {
    height: 100%;
    padding: 0.5rem 0;
}

.player-album-cover img {
    height: 100%;
}

.player-album-name {
    font-size: 0.8rem;
}

.player-volume {
    justify-content: flex-end;
}

.player-volume-bar {
    height: 4px;
    border-radius: 5px;
    width: 40%;
    background-color: grey;
    margin: 0.3rem 0.5rem;
}

.player-volume-bar-progress {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
}

.player-container .fa-regular, .fa-solid, .player-time-bar {
    font-size: 0.8rem;
}

.player-time-icons .fa-solid {
    font-size: 1rem;
}

.player-time-icons .fa-regular {
    font-size: 1.7rem;
    margin: 0.3rem 0.8rem;
}

.player-time-min {
    padding: 0.2rem 1rem;
    font-size: 0.6rem;
}

.sidebar-logo {
    height: calc(75px - 0.5rem);
    width: 75%;
    padding: 0.6rem 0;
}

.sidebar li {
    list-style: none;
    padding-bottom: 0.3rem;
}

.menu li img, .sidebar-user img {
    width: 15%;
    opacity: 0.5;
}

.menu-list {
    padding-left: 0.5rem;
}

.playlist, .user {
    color: white;
    padding-top: 0.3rem;
    font-size: 0.7rem
}

.fa-square-plus {
    font-size: 2rem;
    vertical-align: middle;
    padding: 0.3rem 0.3rem 0.6rem 0;
}

.download-app {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--color-secondary-light);
}

.download-app img {
    margin-right: 0.3rem;
    vertical-align: middle;
    width: 10%;
}

.user img {
    background-color: var(--color-secondary-light);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.3rem;
    aspect-ratio: 1;
    opacity: 1;
}

.user {
    padding-top: 0.7rem;
}

.nav-bar div {
    padding: 1rem;
}

.nav-bar div a {
    text-decoration: none;
    color: var(--color-secondary-light);
}

.main-content {
    padding: 1rem;
}

.row {
    flex-basis: 0;
}

.subtitle {
    padding-top: 0.5rem;
}

.cards-section {
    padding-bottom: 2rem;
}

.card {
    width: calc(100% / 6 - 1rem);
    padding-top: 1.5rem;
}

.card-img {
    max-width: 200px;
    aspect-ratio: 1;
}

.card-img img {
    max-height: 100%;
}

.card-text {
    text-align: center;
    padding-top: 0.5rem;
}

.card-text-title {
    padding: 0.3rem 0;
}

.main {
    font-size: 0.6rem;
}

.round img {
    border-radius: 50%;
    overflow: hidden;
}

button {
    border-radius: 20px;
    background-color: var(--color-primary-dark);
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}

.button {
    float: right;
    margin-right: 0.5rem;
}

.bg-sidebar {
    background-color: var(--color-secondary);
}

.bg-bottom-bar {
    background-color: var(--color-tertiary);
}

.bg-top-bar {
    background-color: var(--color-primary-dark);
    opacity: 0.5;
}

.bg-main {
    background-color: var(--color-primary);
}

.color-grey {
    color: var(--color-secondary-light);
    padding-right: 0.3rem;
}