@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --color-primary: #141922;
    --color-primary-dark: #080B12;
    --color-secondary: black;
    --color-secondary-light: #6D6D6D;
    --color-tertiary: #282828; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

.container-app {
    height: 100vh;
    display: flex;
}

.display-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
    overflow: hidden;
}

.overflow-auto {
    flex-grow: 1;
    overflow: auto;
}

.flex-shrink {
    flex-shrink: 0;
}

.flex-column {
    flex-direction: column;
}

.flex-stretch {
    align-items: stretch;
}

.sidebar {
    width: 180px;
    padding: 0.5rem 1rem;
    color: var(--color-secondary-light);
    font-size: 0.6rem;
    line-height: 1.3rem;
}

.top-bar {
    padding: 1rem 0;
    height: 75px;
}

.player-container {
    padding: 1rem 0;
}

.sidebar-logo {
    height: calc(75px - 0.5rem);
    width: 75%;
    padding: 0.6rem 0;
}

.sidebar li {
    list-style: none;
    padding-bottom: 0.3rem;
}

.menu li img, .sidebar-user img {
    width: 15%;
}

.menu-list {
    padding-left: 0.5rem;
}

.align {
    align-items: center;
}

.playlist, .user {
    color: white;
    padding-top: 0.3rem;
    font-size: 0.7rem
}

.fa-square-plus {
    font-size: 2rem;
    vertical-align: middle;
    padding: 0.3rem 0.3rem 0.6rem 0;
}

.download-app {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--color-secondary-light);
}

.download-app img {
    margin-right: 0.3rem;
    vertical-align: middle;
    width: 10%;
}

.user img {
    background-color: var(--color-secondary-light);
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.3rem;
    aspect-ratio: 1;
}

.user {
    padding-top: 0.7rem;
}

button {
    border-radius: 20px;
    background-color: var(--color-primary-dark);
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}

.button {
    float: right;
    margin-right: 0.5rem;
}

.bg-sidebar {
    background-color: var(--color-secondary);
}

.bg-bottom-bar {
    background-color: var(--color-tertiary);
}

.bg-top-bar {
    background-color: var(--color-primary-dark);
}

.bg-main {
    background-color: var(--color-primary);
}